<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to airbed.com, <%= @user.name %></h1>
    <p>
      You have successfully added your apartment to airbed.com,
    </p>
    <p>Thanks for sharing and have a great day!</p>
    <p>anne@airbed.com</p>
  </body>
</html>