// Place all the styles related to the Apartments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
  padding-top: 10px;
}

.btn {
  background-color: #1abc9c;
  border-corlor: #1abc9c;
}

.btn:hover {
  background-color: #16a085;
  border-color: #16a085;
}



