// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  background-image: url(image_path("background_images/door.jpg"));
  position: relative;
  min-height: 100%;
 }

.search-bar {
  margin-top: 2em;
}

.wrapper h1 {
  padding: 2em;
}

.content {
  padding-top: 2em;

}

