<div class="center hero-unit">
  <h1>Find your bed anywhere</h1>

  <h2>
    In the nearest cities
    <a href="">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

