<form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="city">City</label>
    <input type="city" class="form-control" id="citysearch" placeholder="Enter the city">
  </div>
  <div class="form-group">
    <label class="sr-only" for="people">City</label>
    <input type="people" class="form-control" id="people" placeholder="How many people ?">
  </div>
  <button type="submit" class="btn btn-default">Search</button>
</form>

