<h1 class="text-center">List of apartments</h1>


<div class="container">
  <div class="row">
    <% @apartments.each do |apartment| %>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">

          <%= image_tag apartment.images.first.picture.url(:medium) %>

          <div class="caption">
            <h3>Title: <%= apartment.title %></h3>
            <h4>City: <%= apartment.city %></h4>
            <h5>NAME OF THE FLAT</h5>
            <p></p>
            <p><%= link_to 'More...', apartment_path(apartment), class: "btn" %></p>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>

