<div class="center hero-unit">

  <h1>Find your bed anywhere</h1>

  <h2>
    In the nearest cities
  </h2>

  <div class="vertical-spacer"></div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
               <%= render 'search_form' %>
            </div>
          </div>
      </div>

<div class="vertical-spacer"></div>


